*{
	margin: 0;
	padding: 0;
}
#all-box{
	width: auto;
	position: relative;
}
#top_user{
	height: 32px;
	color: #999;
	line-height: 32px;
	font-size: 12px;
	font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;
	background-color: #f2f2f2;
}
#top_container{
	margin: 0 120px;
}
#top_container em{
	display: inline-block;
	
}
#top_ul_left{
	list-style: none;
	float: left;
	
}
.top_ul{
	list-style: none;
	float: right;
}
.top_ul li,#top_ul_left li{
	float: left;
	padding: 0 10px;
}
#header{
	height: 130px;
	line-height: 130px;
}
#logo{
	width: 290px;
	height: 130px;
	float: left;
	margin-left:100px ;
}
#search_box{
	width: 625px;
	float: right;
	margin-right: 420px;
}
#search{
	width: 491px;
	height: 36px;
	font: 16px/22px arial;
	border: 2px solid red;
}
#search_box form{
	width: 650px;
	height: 36px;
	float: right;
}
#search_box input{
	float: left;
	margin-top: 44px;
	color: #666;
}
#search_btn{
	width: 120px;
	height: 40px;
	font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
	cursor: pointer;
	background-color: #FF0036;
	color: #FFFFFF;
	border: 0;
}
#content{
	width: 100%;
	height: auto;
	border-top: 1px solid black;
}
#goods-box{
	width: 950px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
}
#goods-left{
	width: 420px;
	height: 450px;
	float: left;
	border: 1px dashed #F2F2F2;
}
#goods-left img{
	width: 400px;
	margin: 10px 0 0 10px;
}
#goods-right{
	width: 500px;
	height: 400px;
	float: right;
}
#goods-name{
	height: 20px;
	margin: 10px 0 10px 0;
}
#goods-name h1{
	line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-family: "microsoft yahei";
}
#goods-price{
	height: 60px;
	margin: 0 0 10px 0;
	background-image: url(../img/price-bg.png);
	display: flex;
	align-items: center;
}
#price-left{
	color: #999;
    font-size: 18px;
    text-align: left;
    float: left;
    width: 150px;
    margin-left: 20px;
   
}
#price-right{
	color: #FF0036;
    font-size: 24px;
    font-weight: bolder;
}
#goods-dscp{
	height: 100px;
	color: #333;
	font-size: 14px;
	margin-bottom:10px ;
	border: 2px dashed #F1F1F1;
}
#goods-count{
	height: 20px;
	margin-top: 20px;
	border: 2px dashed #F2F2F2;
}
#count-left{
	width: 80px;
	float: left;
}
#count-right{
	
}
#goods-btn{
	width: 180px;
	height: 40px;
	background-color: #ff0036;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 100px;
	color: #FFF;
	line-height: 38px;
    font-size: 16px;
}
#goods-btn-a{
	text-decoration: none;
}
.footer{
	border-top: 1px solid #D1D7DC;
	width: 100%;
	height: 350px;
	background-color: #fff;
}
.tmall_sure{
	width: 1190px;
	height: 120px;
	background-image: url(../img/footer.jpg);
	margin: 0 auto;
	border-bottom: 1px solid #f1f1f1;
}
.tmall_sure a{
	float: left;
	display: block;
	width: 297px;
	height: 100px;
}
.tmall_desc{
	width: 1190px;
	padding-top: 22px;
	height: 190px;
	margin: auto;
	border-top: 1px solid #ededed;
}
.tmall_desc tr{
	float: left;
	width: 166px;
	padding-left: 52px;
}
.tmall_desc th{
	color: #646464;
	font-size: 16px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	text-align: left;
	display: block;
}
.tmall_desc td{
	width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    display: block;
    font-size: 12px;
}
.tmall_desc td img{
	width: 105px;
	display: block;
}
